body {
    font-family: 'Roboto Condensed', sans-serif;
}

h2{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
}

.card-title {
    font-size: 30px;
}

.navbar-brand {
    font-size: 35px;
    font-family: 'Bahiana', cursive;
}

#favouriteheader {
    text-align: center;
    text-decoration: underline;
    font-weight: 900;
    font-size: 50px;
    padding: 1%;
}
